.mobile-menu-open {
  width: 32px;
  height: 22px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.mobile-menu-open {
  stroke: var(--background-hero-color);
}
@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-container {
    max-width: 294px;
  }
  .hero-title {
    width: 320px;

    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.11;
  }
  .nav-list,
  .address {
    display: none;
  }
  .hero {
    width: 100%;
  }
  .main-nav {
    justify-content: space-between;
  }
  .header-container {
    align-items: center;

    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu-phone {
    font-size: 36px;
    font-weight: 700;

    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--filter-btn-color);
    padding-bottom: 40px;
  }

  .mobile-menu-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    overflow-y: auto;
    width: calc(100% - 36px);
    height: 90%;

    max-height: 586px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    width: 408px;
    min-height: 584px;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link {
    text-decoration: none;
    /* display: inline-block; */
  }
  .team-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 72px;
  }
  .social-list {
    display: flex;
    max-width: 428px;
    gap: 39px;
  }
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--filter-btn-color);
    border-radius: 50%;
    color: #f4f4fd;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .filter {
    row-gap: 16px;
    justify-content: flex-start;
  }
  .social-item {
    width: 40px;
    height: 40px;
  }
  .advantages-list {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .mobile-advantages {
    margin-left: auto;
    margin-right: auto;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .section-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
  }
  .section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .fuature {
    display: none;
  }
  .advantages .item {
    width: 100%;
  }
  .mobile-customers {
    margin-left: auto;
    margin-right: auto;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .client {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    row-gap: 72px;
  }
  .client-list {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .footer-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrap {
    margin-bottom: 72px;
  }
  .footer-form-subskribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-form-input {
    width: 398px;
  }
  .footer-form-field {
    flex-direction: column;
  }

  .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-subscribe {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-btn-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 164px;
    height: 40px;
    padding: 8px 24px;
    border: 0 solid transparent;
    border-radius: 4px;
    background-color: var(--header-logo-color);
    color: #ffffff;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-project-container {
    max-width: 428px;
  }
}
.address {
  display: none;
}
.nav-list {
  display: none;
}
.hero {
  width: 100%;
  padding-top: 112px;
  padding-bottom: 112px;
}
.main-nav {
  justify-content: space-between;
}
.advantages {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.advantages-list {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.advantages .item {
  width: 100%;
}
.hero-title {
  width: 250px;
  font-size: 28px;
  line-height: 1.1;
}
.fuature {
  display: none;
}
.team-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  row-gap: 72px;
}
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.team {
  padding-bottom: 128px;
}
.client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
}
.client-list {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.footer-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-wrap {
  margin-bottom: 72px;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form-subskribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-form-field {
  flex-direction: column;
}
.mobile-subscribe {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form-input {
  width: 398px;
}
.footer-btn-submit {
  margin-left: auto;
  margin-right: auto;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
  column-gap: 24px;
  row-gap: 16px;
}
.mobile-menu-phone {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--filter-btn-color);
  gap: 40px;
}
.mobile-menu-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.social-list {
  display: flex;
  max-width: 428px;
  gap: 42px;
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: auto;
  margin-bottom: 48px;
}
.footer-form-field {
  width: 100%;
}
.footer-form-input {
  width: 100%;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 428px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg);

    background-size: cover;
    background-position: center;

    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/peopleoffice.jpg);
    }
  }
}
